
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<div class="content" style="margin-left:20px;">
    <ul style="list-style-type:circle">
        <li>
            <h5>
                
            </h5>
        </li>

    </ul>
</div>
</body>

